/** @class PMUI.panel.AccordionPanel */

/**
 * @var {color}
 * The default background-color for AccordionPanel-header
 */
$accordionPanel-header_fontSize: 14px !default;
/**
 * @var {color}
 * The default background-color for AccordionPanel-body
 */
$accordionPanel-body_borderTop: 1px solid #c3d8e9 !default;
/**
 * @var {color}
 * The default background-color for AccordionPanel-body
 */
$accordionPanel-body_borderBottom: 1px solid #c3d8e9 !default;
/**
 * @var {color}
 * The default background-color for AccordionPanel-header
 */
$accordionPanel-header_color: white !default;
/**
 * @var {color}
 * The default background-color for AccordionItem-header
 */
$accordionItem-header_backgroundColor : #DFE8F6 !default;
/**
 * @var {color}
 * The default background-color for AccordionItem-header
 */
$accordionItem-header_color: #02192B !default;

$accordionItem-header_borderTop: 1px solid #c3d8e9 !default;

$accordionItem-header_borderBottom: 1px solid #c3d8e9 !default;

$accordionItem-header_fontSize: 12px !default;

$accordionItem-body_borderLeft: 1px solid #c3d8e9 !default;

$accordionItem-body_borderRight: 1px solid #c3d8e9 !default;

$accordionItem-body_background: white !default;

$accordionItem-footer_background: white !default;

$accordionItem-header-iconOpen: arrow-down !default;

$accordionItem-header-iconClose: arrow-right !default;

$accordionPanel-header_backgroundColor:  #93c4ea !default;

@mixin pmui-accordion(
		$namespace: pmui,
		$base: accordion,
		$accordionPanel-header_backgroundColor:  $accordionPanel-header_backgroundColor,
		$accordionPanel-header_fontSize: $accordionPanel-header_fontSize,
		$accordionPanel-body_borderTop: $accordionPanel-body_borderTop,
		$accordionPanel-body_borderBottom: $accordionPanel-body_borderBottom,
		$accordionPanel-header_color: $accordionPanel-header_color,
		$accordionItem-header_backgroundColor: $accordionItem-header_backgroundColor,
		$accordionItem-header_color: $accordionItem-header_color,
		$accordionItem-header_borderTop: $accordionItem-header_borderTop,
		$accordionItem-header_borderBottom: $accordionItem-header_borderBottom,
		$accordionItem-header_fontSize: $accordionItem-header_fontSize,
		$accordionItem-body_borderLeft: $accordionItem-body_borderLeft,
		$accordionItem-body_borderRight: $accordionItem-body_borderRight,
		$accordionItem-body_background: $accordionItem-body_background,
		$accordionItem-footer_background: $accordionItem-footer_background,
		$accordionItem-header-iconOpen: $accordionItem-header-iconOpen,
		$accordionItem-header-iconClose: $accordionItem-header-iconClose
	) {
		.#{$namespace}-#{$base}-panel-header {
		  padding-top: 5px;
		  height: 25px;
		  background-color: $accordionPanel-header_backgroundColor;
		  text-align: center;
		  color: white;
		}

		.#{$namespace}-#{$base}-panel-header span {
		  font-size: $accordionPanel-header_fontSize;
		}

		@if($namespace=='pmui' && $base=='accordion') {
		  .#{$namespace}-#{$base}-panel-body {
		    border-top: $accordionPanel-body_borderTop;
		    border-bottom: 0px;
		    height: 357px;
		    width: auto;
		  }
		} @else {
		  .#{$namespace}-#{$base}-panel-body {
		    border-top: $accordionPanel-body_borderTop;
		    border-bottom: $accordionPanel-body_borderBottom;
		    height: auto;
		    width: auto;
		  }
		}

		.#{$namespace}-#{$base}-panel-footer {
		  height: 0px;
		}

		.#{$namespace}-#{$base}-panel-container {
		  overflow: auto;
		}

		/* AccordionItem */
		.#{$namespace}-#{$base}-item-header {
		  background-color: $accordionItem-header_backgroundColor;
		  border-top: $accordionItem-header_borderTop;
		  border-bottom: $accordionItem-header_borderBottom;
		  overflow-wrap: break-word;
		  padding: 2px;
		  color: $accordionItem-header_color;
		  font-size: $accordionItem-header_fontSize;
		}

		.#{$namespace}-#{$base}-item-body{
		  overflow: auto;
		  background-color: $accordionItem-body_background;
		}
		.#{$namespace}-#{$base}-item-footer {
		  overflow: auto;
		  background-color: $accordionItem-footer_background;
		}

		.#{$namespace}-#{$base}-item-container {
		  height: auto;
		  width: auto;
		  border-left: $accordionItem-body_borderLeft;
		  border-right: $accordionItem-body_borderRight;
		}

		.#{$namespace}-#{$base}-item-iconbase {
		  background-repeat: no-repeat;
		  display: inline-block;
		  height: 16px;
		  margin: 0 5px 0 5px;
		  width: 16px;
		}

		.#{$namespace}-#{$base}-item-closed {
			@include pmui-sprite-sprite($accordionItem-header-iconClose);
			opacity: 0.6;
			filter: alpha(opacity=60);
		}

		.#{$namespace}-#{$base}-item-expanded {
			@include pmui-sprite-sprite(#{$accordionItem-header-iconOpen});
			opacity: 0.6;
			filter: alpha(opacity=60);
		}
		.#{$namespace}-#{$base} .pmui-accordion-item-iconContainer{
			cursor: pointer;
			padding: 5px;
		}
}