/** @class PMUI.ui.Button */

/**
 * @var {number}
 * The font-size for the default button
 */
$button_fontSize: 14px;

/**
 * @var {color}
 * The color for the default button
 */
$button_color: #FFF;

/**
 * @var {color}
 * The background-color for the default button
 */
$button_backgroundColor: #1e91d1;

/**
 * @var {number}
 * The button-opacity for the default button
 */
$button-opacity: 1;

/**
 * @var {color}
 * The button-opacity for the default button when the button is hover
 */
$button-hover_opacity: 1;

/**
 * @var {color}
 * The button-link for the default button
 */
$button-link_color:#000000;

/**
 * @var {color}
 * The button-link color for the default button when the button is hover
 */
$button-link-hover_color: #7f7f7f;

/**
 * @var {color}
 * The button-background color for the default button when the button is disabled
 */
$button-disabled_backgroundColor: #aaaaaa;

/**
 * @var {color}
 * The button-color for the default button when the button is disabled
 */
$button-disabled_color: #ffffaa;

/**
 * @var {color}
 * The button-opacity for the default button when the button is disabled
 */
$button-disabled_opacity: 0.8;

/**
 * @var {color}
 * The button-background color for the default button when the button is disabled and hover
 */
$button-disabled-hover_backgroundColor: #aaaaaa;

/**
 * @var {color}
 * The button-opacity for the default button when the button is disabled and hover
 */
$button-disabled-hover_opacity:0.8;

$button-succes_background : #47a447 !default;
$button-succes_border : #398439 !default;
$button-error_background : #DB3A35 !default;
$button-error_border : #d43f3a !default;
$button-info_background : #3397e1 !default;
$button-info_border : #3397e1 !default;
$button-warning_background : #EE9B26 !default;
$button-warning_border : #d58512 !default;

/** @class PMUI.ui.Button */
/**
 * Creates a default pmui button.
 * @param {class} $base base class
 * @param {number} [$button_fontSize] font size
 * @param {color} [$button_color] font color
 * @param {button_backgroundColor} [$button_backgroundColor] background color
 * @param {number} [$button_opacity] opacity
 * @param {color} [$button-hover_opacity] button hover opacity
 * @param {color} [$button-link_color] button link color
 * @param {color} [$button-link-hover_color]  button-link-hover_color
 * @param {color} [$button-disabled_backgroundColor] button-disabled_backgroundColor
 * @param {color} [$button-disabled_color] button-disabled_color
 * @param {color} [$button-disabled_opacity] button-disabled_opacity
 * @param {color} [$button-disabled-hover_backgroundColor] button-disabled-hover_backgroundColor
 * @param {color} [$button-disabled-hover_opacity] button-disabled-hover_opacity
 */
 @mixin pmui-button(
		$base: button,
		$button_fontSize: $button_fontSize,
		$button_color: $button_color,
		$button_backgroundColor: $button_backgroundColor,
		$button-opacity: $button-opacity,
		$button-hover_opacity: $button-hover_opacity,
		$button-link_color: $button-link_color,
		$button-link-hover_color: $button-link-hover_color,
		$button-disabled_backgroundColor: $button-disabled_backgroundColor,
		$button-disabled_color: $button-disabled_color,
		$button-disabled_opacity: $button-disabled_opacity,
		$button-disabled-hover_backgroundColor: $button-disabled-hover_backgroundColor,
		$button-disabled-hover_opacity: $button-disabled-hover_opacity,
		$button-succes_background : $button-succes_background,
		$button-succes_border : $button-succes_border,
		$button-error_background  : $button-error_background,
		$button-error_border : $button-error_border,
		$button-info_background: $button-info_background,
		$button-info_border : $button-info_border,
		$button-warning_background :$button-warning_background,
		$button-warning_border : $button-warning_border
	) {

	.pmui-#{$base} {
	  font-size: $button_fontSize;
	  display: inline-block;
		text-decoration: none;
		padding: 11px 35px;
		/*@include border-radius($PMUI-DEFAULT-BORDER-RADIUS);*/
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		-ms-border-radius: 2px;
		-o-border-radius: 2px;
		border-radius: 2px;
		background-color: $button_backgroundColor;
		color: $button_color;
		text-align: center;
		-webkit-transition: all .5s;
		-moz-transition: all .5s;
		-ms-transition: all .5s;
		-o-transition: all .5s;
		transition: all .5s;
		@include box-sizing(border-box);
	}

	.pmui-#{$base}.pmui-error:hover{
	  background : #e14333;
	  opacity: $button-hover_opacity;
	  opacity: $button-opacity;
	}
	
	.pmui-#{$base}.pmui-warning:hover{
	  background : #db9d22;
	  opacity: $button-hover_opacity;
	  opacity: $button-opacity;
	}
	
	.pmui-#{$base}.pmui-success:hover{
	  background : #1ba385;
	  opacity: $button-hover_opacity;
	  opacity: $button-opacity;
	}
	
	.pmui-#{$base}.pmui-info:hover{
	  background : #3397e1;
	  opacity: $button-hover_opacity;
	  opacity: $button-opacity;
	}

	.pmui-button.pmui-link {
		color: #383838;
		text-decoration: underline;
		background: none;
		padding : initial;
	}

	.pmui-button.pmui-success {
		color: #fff;
		background-color: $button-succes_background;
		border:1px solid $button-succes_border;
	}

	.pmui-button.pmui-info {
		color: #fff;
		background-color: $button-info_background;
		border:1px solid $button-info_border;	
		}

	.pmui-button.pmui-warning {
		color: #fff;
		background-color: $button-warning_background;
		border : 1px solid $button-warning_border;
	}

	.pmui-button.pmui-error {
		color: #fff;
		background-color: #e4655f;
		border:1px solid #e14333;
	}

	.pmui-#{$base}.pmui-disabled {
		background-color: #BEBEBE;
		color: #F7F7F7;
		opacity: 0.8;
		pointer-events: none;
		cursor: default;
		border: 1px solid #AAA8A8;
	}

	.#{$base}-disabled:hover {
	  opacity: $button-disabled-hover_opacity;
	}

	.pmui-button.pmui-link.pmui-disabled{
		background-color: inherit;
		color: #CCC8C8;
		opacity: inherit;
		border: inherit;
	}
}
