$field-required_color : red !default;
$field-label_color : #000 !default;
$field-label-fontSize : 16px !default;
$field-colon_color : #000 !default;
$field_background :  none !default;
$field-fieldMessage-error_background:red !default;
$field-controlError_border : red !default;

@mixin field (
	$field-required_color :$field-required_color,
	$field-label_color : $field-label_color,
	$field-label-fontSize : $field-label-fontSize,
	$field-colon_color : $field-colon_color,
	$field_background : $field_background,
	$field-fieldMessage-error_background:$field-fieldMessage-error_background,
	$field-controlError_border : $field-controlError_border
	) {
		.pmui-field-label {
		    display: block;
		    //float: left;
		    text-align: left;
		    width: 160px;
		    padding: 6px 20px 6px 10px;
		    color : $field-label_color;
		    font-size : $field-label-fontSize;
		    box-sizing: border-box;
		}

		.pmui-field {
		    padding: 4px 0;
		    -moz-box-sizing: border-box;
		    -webkit-box-sizing: border-box;
		    box-sizing: border-box;
		    background: $field_background;
		}

		.pmui-field-label,
		.pmui-field-control {
		    /*float: left;*/
		    display: inline-block;
		    text-align: left;
		    margin-right: 5px;
			-moz-box-sizing: border-box;
		    -webkit-box-sizing: border-box;
		    box-sizing: border-box;
		}

		.pmui-textannotationfield {
		    color: $field-label_color;
		}

		.pmui-textannotationfield .pmui-field-label {
		    margin: 0px;
		    color: inherit;
		}

		.pmui-field-control{
		}

		.pmui-field-control-er{
		    color: #f00;
		}

		.pmui-field-required{
		    color:$field-required_color;
		    padding-top: 3px;
		    text-align: center;

		}

		.pmui-field .pmui-textlabel{
			clear: both;
			color: #fff;
			font-size: 12px;
			background: $field-fieldMessage-error_background;
			padding: 4px 10px;
			display : inline-block;
		}

		.pmui-field-colon {
			color : $field-colon_color;
		}

		.pmui-field .error {
			outline : 1px solid $field-controlError_border;
			border : 1px solid white;
		}
		.pmui-field-control-table{
			display : inline-block;
		}

		.pmui-field-control-table {
		  border: 1px solid #e7e7e7;
		  padding:0px;
		}

		.pmui-field-control-table td{
		  padding:0px 45px 0px 0px;
		}

		.pmui-field-message {
			text-align: left;
			position: absolute;
			z-index: 100;
		}

		.pmui.pmui-textannotationfield {
			clear: both;
		}
}
