$flashMessage-body_color: #DDD !default;
$flashMessage-body_backgroundColor: rgba(0, 0, 0, 0.8) !default;
$flashMessageInfo-body-backgroundColor: rgba(30, 145, 209, 0.8) !default;
$flashMessageError-body-backgroundColor: rgba(255, 0, 0, 0.8) !default;
$flashMessageSuccess-body-backgroundColor: rgba(0, 143, 97, 0.8) !default;

@mixin pmui-flashMessage (
	$namespace: pmui,
	$base: flashmessage,
	$flashMessage-body_color: $flashMessage-body_color,
	$flashMessage-body_backgroundColor: $flashMessage-body_backgroundColor,
	$flashMessageInfo-body-backgroundColor: $flashMessageInfo-body-backgroundColor,
	$flashMessageError-body-backgroundColor: $flashMessageError-body-backgroundColor,
	$flashMessageSuccess-body-backgroundColor: $flashMessageSuccess-body-backgroundColor
) {
	.#{$namespace}-#{$base} {
	    color: $flashMessage-body_color;
	    background: $flashMessage-body_backgroundColor;
	    padding: 12px;
	    text-align: center;
	}

	.#{$namespace}-#{$base}.#{$namespace}-info {
	    background: $flashMessageInfo-body-backgroundColor;
	}

	.#{$namespace}-#{$base}.#{$namespace}-error {
	    background: $flashMessageError-body-backgroundColor;
	}

	.#{$namespace}-#{$base}.#{$namespace}-success {
	    background: $flashMessageSuccess-body-backgroundColor;
	}
	
	.#{$namespace}-#{$base}-list {
		margin: 0;
		-webkit-padding-start: 20px;
		-moz-padding-start: 20px;
	}
}