$gridPanel_backgroundColor:#FFF !default;
$gridPanel_fontFamily: "SourceSansPro", Arial, Tahoma, Verdana !default; 
$gridPanel_fontSize: 14px !default; 
$gridPanel-header_backgroundColor:#2d3e50 !default;
$gridPanel-header_color:#fff !default;
$gridPanel-header_fontSize:14px !default;
$gridPanel-header-hover_opacity: 0.70 !default;
$gridPanel-header_textAlign: left !default;
$gridPanel-header_fontWeight : initial !default;
$gridPanel-border : 1px solid #e5e5e5 !default;


$gridPanel-row-hover_backgroundColor:#e0e0e0;
$gridPanel-row_draggingImage: "bg_dd.png" !default;
$gridPanel-footer_backgroundColor:#fff !default;
$gridPanel-footer_fontSize:inherit !default;
$gridPanel-footer_color:red !default;
$gridPanel-body_backgroundColor:#fff !default; 
$gridPanel-body_fontSize: inherit !default;
$gridPanel-body_color:red !default;
$gridPanel-body_textAlign: center !default;

$gridPanel-pager_color: #2d3e50 !default;
$gridPanel-pager-active_backgroundColor:#2d3e50 !default;
$gridPanel-pager-active-hover_opacity : 0.70 !default;
$gridPanelColumn-sortableAscIcon_background : grid-arrow-down !default;
$gridPanelColumn-sortableDescIcon_background : grid-arrow-up !default;


$gridPanelCell-content_color : #000 !default;
$gridPanel-pageLink_fontSize : 10px !default;
$gridPanel-nextIcon-image: 'arrow-next' !default;
$gridPanel-previousIcon-image: 'arrow-previous' !default;
$gridPanel-toolbar_height: auto !default;
$gridPanel-toolbar_margin: 0 0 0 0 !default;

$gridPanel-row_lineHeight: auto !default;
$gridPanel-row_height: auto !default;
$gridPanelCell-content_padding : 0 10px 0 10px !default;

$gridPanel-table_fontSize : 14px !default;
$gridPanel-statusBar_fontSize : 14px !default;

 
@mixin pmui-gridpanel(
	    $base: gridpanel,
		$gridPanel_backgroundColor: $gridPanel_backgroundColor,
		$gridPanel_fontSize: $gridPanel_fontSize,
		$gridPanel-header_backgroundColor: $gridPanel-header_backgroundColor,
		$gridPanel-header_color: $gridPanel-header_color,
		$gridPanel-row-hover_backgroundColor: $gridPanel-row-hover_backgroundColor,
		$gridPanel-footer_backgroundColor: $gridPanel-footer_backgroundColor,
		$gridPanel-footer_fontSize: $gridPanel-footer_fontSize,
		$gridPanel-footer_color: $gridPanel-footer_color,
		$gridPanel-pager-active-hover_opacity: $gridPanel-pager-active-hover_opacity,
		$gridPanel-body_backgroundColor: $gridPanel-body_backgroundColor,
		$gridPanelColumn-sortableAscIcon_background : $gridPanelColumn-sortableAscIcon_background,
		$gridPanelColumn-sortableDescIcon_background :$gridPanelColumn-sortableDescIcon_background,
		$gridPanel-row_draggingImage: $gridPanel-row_draggingImage,
		
		$gridPanelCell-content_color : $gridPanelCell-content_color,
		$gridPanel-pageLink_fontSize : $gridPanel-pageLink_fontSize,
		$gridPanel-toolbar_height:$gridPanel-toolbar_height,
		$gridPanel-row_lineHeight:$gridPanel-row_lineHeight,
		$gridPanel-header-hover_opacity:$gridPanel-header-hover_opacity,
		$gridPanel-toolbar_margin:$gridPanel-toolbar_margin,
		$gridPanel-header_textAlign:$gridPanel-header_textAlign,
		$gridPanel-header_fontWeight:$gridPanel-header_fontWeight,
		$gridPanel-border:$gridPanel-border,
	    $gridPanelCell-content_padding: $gridPanelCell-content_padding,
	    $gridPanel-table_fontSize :$gridPanel-table_fontSize,
	    $gridPanel-statusBar_fontSize : $gridPanel-statusBar_fontSize   
	) {	
			.pmui-#{$base} {
			  background-color: $gridPanel_backgroundColor;
			  font-size: $gridPanel_fontSize;
			  vertical-align: top;
			  font-family: $gridPanel_fontFamily; 
			    		 
			}

			.pmui-#{$base}-tableContainer {
				border:$gridPanel-border;   										
			}

			.pmui-#{$base}-table {
			  border-collapse: collapse;
			  min-height: 3em;
			  background-color: $gridPanel-body_backgroundColor;
			  width:100%;
			  font-size : $gridPanel-table_fontSize;
			 
			}

			.pmui-#{$base}column {
			  border-right: 2px solid #fff;
			  /*padding: 5px 10px;*/
			  color: $gridPanel-header_color;
			  font-size: $gridPanel-header_fontSize;
			  background: $gridPanel-header_backgroundColor;
			}

			

			.pmui-#{$base}cell {
			   border-right: 2px solid #fff;
			}

			.pmui-#{$base}column.pmui-sortable {
			  cursor: pointer;
			}

			.pmui-#{$base}.pmui-sortable.pmui-sort-asc,
			.pmui-#{$base}.pmui-sortable.pmui-sort-desc {
			  background-repeat: no-repeat;
			  background-position: right;
			}

			.pmui-#{$base}row {
			  border-bottom: 1px solid #e5e5e5;
			  line-height: $gridPanel-row_lineHeight; 			 		 	
			}

			.pmui-#{$base}row.ui-draggable > .pmui-#{$base}cell:first-child,
			.pmui-#{$base}-tbody.ui-sortable .pmui-#{$base}row > .pmui-#{$base}cell:first-child {
				background-image: url(images/#{$gridPanel-row_draggingImage});
				background-position: 2px center;
				background-repeat: no-repeat;
			}

			.pmui-#{$base}row.ui-draggable,
			.pmui-#{$base}-tbody.ui-sortable .pmui-#{$base}row {
				cursor: move;
			}

			.pmui-#{$base}row:hover {
			  background: $gridPanel-row-hover_backgroundColor;
			}

			.pmui-#{$base}-pager {
				display: inline-block;
				margin: 0;
			}
			.pmui-gridpanel-gotoPage{
			  width: 40px;
			  margin : 0 2px 0 2px;
			  height : 20px;
			  text-align : center;
			  border : 1px solid #ddd;
			}
			.pmui-gridpanel-footer.pmui-gridpanel-total{
				vertical-align: super;
				font-size : 13px;
				padding : 2px;			
			}

			.pmui-#{$base}-pager-current {
				text-decoration: none;
				float: left;
				color: #0493E5;
				font-size: 14px;
				line-height: 26px;
				font-weight: normal;
				text-align: center;
				border: 1px solid #ddd;
				min-width: 14px;
				padding: 0 11px;
				margin: 0 5px 0 0;
				background: #FFF;
				background: #0493E5;
				color: #FFF;
				cursor: default;
				margin-left: -7px;
			}

			.pmui-#{$base}-pager-ellipse {
				background: none;
				border: none;
				border-radius: 0;
				box-shadow: none;
				font-weight: bold;
				cursor: default;
				text-decoration: none;
				float: left;
				color: #0493E5;
				font-size: 14px;
				line-height: 26px;
				font-weight: normal;
				text-align: center;
				border: 1px solid #ddd;
				min-width: 14px;
				padding: 0 7px;
				margin: 0 5px 0 0;
				background: #FFF;
				margin-left: -7px;
			}

			.pmui-#{$base}-pager li a{
			  	text-decoration:none;
				float: left;
				color: #0493E5;
				font-size:14px;
				line-height:26px;
				font-weight: normal;
				text-align: center;
				border: 1px solid #ddd;
				min-width: 14px;
				padding: 0 11px;
				margin: 0 5px 0 0;
				background : #FFF;
				margin-left: -7px;
			}

			.pmui-#{$base}-pager li a:hover{
			 	text-decoration: none;
				background: #0493E5;
				color: #FFF;
			}

			.pmui-#{$base}-pager li {
			  display: inline-block;
			  margin: 0 1px;
			}

			.pmui-#{$base}-pagelink {
			  float: left;
			  display: block;
			  color: $gridPanel-pager_color;
			  padding: 4px 7px;
			  height: 13px;
			}

			.pmui-#{$base}-pagelink,
			.pmui-#{$base}-pagelink.pmui-#{$base}-nextbutton,
			.pmui-#{$base}-pagelink.pmui-#{$base}-previousbutton {
			  text-decoration: none;
			  font-size : $gridPanel-pageLink_fontSize;
			}

			.pmui-#{$base}-pagelink.pmui-#{$base}-nextbutton .pmui-icon{
				@include pmui-sprite-sprite($gridPanel-nextIcon-image);
			}

			.pmui-#{$base}-pagelink.pmui-#{$base}-previousbutton .pmui-icon{
				@include pmui-sprite-sprite($gridPanel-previousIcon-image);
			}

			.pmui-#{$base}-pagelink {
			  float: left;
			  display: block;
			  color: $gridPanel-pager_color;
			  padding: 4px 7px;
			  font-size: $gridPanel-footer_fontSize;
			}

			.pmui-#{$base}-pagelink:hover {
			  filter: alpha(opacity=$gridPanel-pager-active-hover_opacity);
			  -moz-opacity: $gridPanel-pager-active-hover_opacity;
			  -khtml-opacity: $gridPanel-pager-active-hover_opacity;
			  opacity: $gridPanel-pager-active-hover_opacity;
			}

			.pmui-#{$base}-pagelink.pmui-active {
			  color: #fff;
			  background: $gridPanel-pager-active_backgroundColor; 
			  -webkit-border-radius: 2px;
			  -moz-border-radius: 2px;
			  border-radius: 2px;
			}

			.pmui-#{$base}-toolbar {
			  padding: 5px 0px;
			  text-align: left;
			  height: $gridPanel-toolbar_height;
			  margin: $gridPanel-toolbar_margin;
			}

			.pmui-#{$base}-footer {
			  text-align: center;
			  padding: 10px 20px;
			}

			.pmui-#{$base}-statusbar {
			  text-align: left;
			  font-size : $gridPanel-statusBar_fontSize;
			  margin-top : 5px;
			}

			.pmui-#{$base}cell-content,
			.pmui-#{$base}Column-title {
			  text-overflow: ellipsis;
			  white-space: nowrap;
			  overflow: hidden;
			  position: relative;
			  @include box-sizing(border-box);
			}
			
			.pmui-#{$base}cell-content {
			  display: inline-block;			  
			  color: $gridPanelCell-content_color;
			  text-align: $gridPanel-body_textAlign;
			  padding:$gridPanelCell-content_padding ;
			  margin-left : 5px;
			}
			.pmui-#{$base}Column-title {
			  display: block;
			  padding: 9px 5px;
			  text-align: $gridPanel-header_textAlign;
			  font-weight: $gridPanel-header_fontWeight ;
			}

			.pmui-grid-sort-icon {
			    position: absolute;
			    width: 11px;
			    height: 1em;
			    right: 5px;
			    display: none;
			    top: 9px;

			    .pmui-gridpanelcolumn.pmui-sortable.pmui-sort-asc & {
			     	@include pmui-sprite-sprite(#{$gridPanelColumn-sortableAscIcon_background});
			    }

			    .pmui-#{$base}column.pmui-sortable.pmui-sort-desc & {
			     	@include pmui-sprite-sprite(#{$gridPanelColumn-sortableDescIcon_background});
			    }
			}

			.pmui-#{$base}column.pmui-sortable.pmui-sort-asc,
			.pmui-#{$base}column.pmui-sortable.pmui-sort-desc {
			  .pmui-#{$base}Column-title {
			    padding-right: 20px;
			    -webkit-transition: all .6s;
				-moz-transition: all .6s;
				-ms-transition: all .6s;
				-o-transition: all .6s;
				transition: all .6s;										
			  }
			  .pmui-#{$base}Column-title:hover {
			   filter: alpha(opacity=$gridPanel-header-hover_opacity);
				-moz-opacity: $gridPanel-header-hover_opacity;
				-khtml-opacity: $gridPanel-header-hover_opacity;
				opacity: $gridPanel-header-hover_opacity;							
			  }
			}

			.pmui-#{$base}column.pmui-sortable .pmui-grid-sort-icon {
			    display: inline-block;
			}

			.pmui-active-row {
			  background: antiquewhite;
			}
			.pmui-#{$base}-emptyrow td {
			  padding: 0.5em;
			  font-style: italic;
			}

			.pmui-#{$base}row-deleteButton {
			  width: 16px;
			  height: 16px;
			  padding: 2px;
			  background: #e0e0e0;
			  position: absolute;
			  top: -16px;
			  right: 0px;
			  -moz-border-radius: 100% 100% 0px 0px;
			  -webkit-border-radius: 100% 100% 0px 0px;
			  border-radius: 100% 100% 0px 0px;
			}

			.pmui-#{$base}row-deleteButton a {
			  display: inline-block;
			  /*@include pmui-sprite-sprite(delete-16);*/
			}
			.pmui-gridpanel-searchload.load{
				background: url(../img/loading.gif) no-repeat center;
				background-size: contain;
				height: 20px;
				width: 20px;
				position: absolute;
			}
}