

@mixin pmui-menu() {

	.pmui-menu {
	  font-family: Tahoma, Arial, Verdana;
	  font-size: 12px;
	  border: 1px solid #d5d8dc;
	  display: inline-block;
	  list-style: none;
	  background: #F0F0F0;
	  margin: 0;
	  padding: 0;
	  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
	}

	.pmui-menuoption {
		position: relative;
		@include transition(all .3s);
	}

	.pmui-menuoption:hover {
	  background: #444;
	}

	.pmui-menuoption.pmui-disabled:hover {
	 	background: none;
	}

	.pmui-menuoption-title {
	  display: block;
	  padding: 0.4em 0.6em;
	  text-decoration: none;
	  color: #2d3e50;
	}

	.pmui-disabled .pmui-menuoption-title {
	  	cursor: default;
	}

	.pmui-menuoption-text {
	  line-height: 1.84em;
	  padding-right: 15px;
	  white-space: nowrap;
	}

	.pmui-disabled .pmui-menuoption-text {
		color: #bbb;
	}

	.pmui-menuoption:hover > .pmui-menuoption-title {
	  color: #F0F0F0;
	}

	.pmui-menuoption.pmui-father > .pmui-menuoption-title {
	  background: url(images/arrow-right-b.png) no-repeat right content-box;
	}	

	.pmui-menuoption.pmui-father:hover > .pmui-menuoption-title {
	  background-image: url(images/arrow-right-w.png);
	}

	.pmui-menuoption.pmui-father.pmui-disabled > .pmui-menuoption-title,
	.pmui-menuoption.pmui-father.pmui-disabled:hover > .pmui-menuoption-title {
	  background-image: url(images/arrow-right-d.png);
	}

	.pmui-menuseparatoritem {
	  border-top: 1px solid #d8d8d8;
	  border-bottom: 1px solid #fff;
	}

	.pmui-menuoption:hover > .pmui-menu {
		display: inline-block;
	}

	.pmui-menuoption.pmui-disabled:hover > .pmui-menu {
		display: none;
	}

	.pmui-menu .pmui-menu {
		display: none;
	  	position: absolute !important;
	  	left: 100% !important;
	  	top: 0 !important;
	}
}