$optionsSelector-body_backgroundColor: #ebebeb !default;
$optionsSelector-body_border: 1px solid #d3d3d3 !default;
$optionsSelector-body_color: #555555 !default;
$optionsSelector-body_borderBottomRight: 4px !default;
$optionsSelector-body_borderBottomLeft: 4px !default;
$optionsSelector-body_borderTopRight: 4px !default;
$optionsSelector-body_borderTopLeft: 4px !default;
$optionsSelector-body_cursor: pointer !default;
$optionsSelector-body_textAlign: center !default;

@mixin pmui-optionsselector-radius (
	$optionsSelector-body_borderBottomRight: $optionsSelector-body_borderBottomRight,
	$optionsSelector-body_borderBottomLeft: $optionsSelector-body_borderBottomLeft,
	$optionsSelector-body_borderTopRight: $optionsSelector-body_borderTopRight,
	$optionsSelector-body_borderTopLeft: $optionsSelector-body_borderTopLeft
) {
	border: {
		bottom-right-radius: $optionsSelector-body_borderBottomRight;
		bottom-left-radius: $optionsSelector-body_borderBottomLeft;
		top-right-radius: $optionsSelector-body_borderTopRight;
		top-left-radius: $optionsSelector-body_borderTopLeft;
	}	
}

@mixin pmui-optionsselector-default (
	$optionsSelector-body_cursor: $optionsSelector-body_cursor,
	$optionsSelector-body_textAlign: $optionsSelector-body_textAlign
){
	@include pmui-optionsselector-radius;
	display: inline-block;
	position: relative;
	padding: 5px 10px 5px 10px;
	line-height: normal;
	cursor: $optionsSelector-body_cursor;
	margin: 0em;
	vertical-align: middle;
	text-align: $optionsSelector-body_textAlign;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	overflow: visible;
	word-spacing: normal;
	font: -webkit-small-control;
	letter-spacing: normal;
}

@mixin pmui-optionsSelector (
	$namespace: pmui,
	$base: switch,
	$optionsSelector-body_backgroundColor: $optionsSelector-body_backgroundColor,
	$optionsSelector-body_border: $optionsSelector-body_border,
	$optionsSelector-body_color: $optionsSelector-body_color,
	$optionsSelector-body_borderBottomRight: $optionsSelector-body_borderBottomRight,
	$optionsSelector-body_borderBottomLeft: $optionsSelector-body_borderBottomLeft,
	$optionsSelector-body_borderTopRight: $optionsSelector-body_borderTopRight,
	$optionsSelector-body_borderTopLeft: $optionsSelector-body_borderTopLeft,
	$optionsSelector-body_cursor: $optionsSelector-body_cursor,
	$optionsSelector-body_textAlign: $optionsSelector-body_textAlign
) {
	.#{$namespace}-optionsselectorfield a{
		text-decoration: none;
	}
	
	.#{$namespace}-#{$base}-buttonitem {
		background-color: $optionsSelector-body_backgroundColor;
		border: $optionsSelector-body_border;
		color: $optionsSelector-body_color;
		@include pmui-optionsselector-default;
		@include pmui-optionsselector-radius;
	}

	.#{$namespace}-#{$base}-buttonitem:hover {
		@include pmui-optionsselector-radius;
		border: 1px solid #d3d3d3;
		color: #333;
		background-color: #d8d8d8;
		border-color: #adadad;
	}
	.#{$namespace}-#{$base}-buttonitem-selected {
		@include pmui-optionsselector-radius;

		border: 1px solid #3276B1;
		background-color: #3276B1;
		color: #ffffff;
		
		@include pmui-optionsselector-default;
	}

	.#{$namespace}-#{$base}-buttonitem-disabled {
		@include pmui-optionsselector-radius;
		
		border: 1px solid #d3d3d3;
		background-color: #e5e5e5;
		color: #d3cfcf;
		cursor: default;
		
		@include pmui-optionsselector-default;
	}
}
