
$treeNode-nodeLabel_color : #000 !default;
$treeNode-nodeLabel_fontSize : 14px !default;
$treePanel-emptyMessage_font-style : italic !default;
$treePanel_background: inherit !default;

@mixin tree (
		$treeNode-nodeLabel_color : $treeNode-nodeLabel_color,
		$treeNode-nodeLabel_fontSize : $treeNode-nodeLabel_fontSize,
		$treePanel_background : $treePanel_background,
		$treePanel-emptyMessage_font-style : $treePanel-emptyMessage_font-style
	) {
			.pmui-treepanel {
			    display: inline-block;
			    height: 360px;
			}

			.pmui-treepanel-list {
			    list-style: none;
			    margin: 0;
			    padding: 0;
			    vertical-align: top;
			}
			.pmui-treepanel-node .pmui-treepanel-list {
				margin-left: 18px;
			}

			.pmui-treepanel-node-title {
				text-decoration : none;
		    	color : $treeNode-nodeLabel_color;
			}

			.pmui-treepanel-node {
				background: url(images/elbow-line.gif) repeat-y left top;
			    list-style-type: none;
			    text-overflow: ellipsis;
			    overflow: hidden;
			    white-space: nowrap;
			    text-align: left;
			}
			.pmui-treepanel,
			.pmui-treepanel-node {
			    font-size: $treeNode-nodeLabel_fontSize;
			    background : $treePanel_background;
			}

			.pmui-treepanel-node,
			.pmui-treepanel-list > .pmui-treepanel-node:last-child {
				background: url(images/elbow-end.gif) no-repeat left top;
			}

			.pmui-treepanel-node-icon {
				display: inline-block;
				margin-right: 3px;
			}

			.pmui-treepanel-node-elbow {
				width: 16px;
				margin-right: 3px;
				display: inline-block;
			}

			.pmui-treepanel-emptymessage {
			    font-style: $treePanel-emptyMessage_font-style;
			}

			.pmui-treepanel-toolbar {
			    margin: 1em 0.5em;
			}

			.pmui-treepanel .pmui-treepanel-node {
				background: url(images/elbow-line.gif) repeat-y top left;
			}

			.pmui-treepanel-node .pmui-treepanel-node-elbow {
				background: url(images/elbow-end.gif) no-repeat top left;
			}

			ul.pmui-treepanel > .pmui-treepanel-node:last-child {
				background: url(images/elbow-end.gif) no-repeat top left;
			}

			.pmui-treepanel-node.pmui-treepanel-node-father > .pmui-treepanel-node-title .pmui-treepanel-node-elbow {
				background: url(images/elbow-minus-nl.gif) no-repeat center;
			}

			.pmui-treepanel-node.pmui-treepanel-node-father.pmui-treepanel-node-collapsed > .pmui-treepanel-node-title .pmui-treepanel-node-elbow {
				background: url(images/elbow-plus-nl.gif) no-repeat center;
			}
}

